@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row text-center" style="margin-top: 20px;">
    <div class="modal-body text-bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-6 bg-dark"
                    style="border-right: 1px solid white; border-left: 1px solid black; border-bottom: 1px solid black; border-top: 1px solid black;">
                    <img src="~/1LayoutAdmin/image/f2.png" alt="dt" width="300">
                </div>
                <div class="col-md-6 bg-dark "
                    style="border-right: 1px solid white; border-left: 1px solid white; border-bottom: 1px solid white; border-top: 1px solid white;;">
                    <h3 class="title text-center"
                        style="color: aliceblue;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: yellow;">
                        Burger</h3>
                    <h6 class="title text-center"
                        style="color: aliceblue;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: yellow;">
                        © JoyFood Inc. 2024</h6>
                    <h6 class="title text-center"
                        style="color: aliceblue;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: white;">
                        Thông tin:</h6>
                    <div class="row">
                        
                        <div class="info">
                            <p style="color: white;">
                                Tên sản phẩm: JoyBurger
                                Mô tả: JoyBurger là một chiếc bánh burger lớn, ngon miệng và đầy đủ chất dinh dưỡng.
                                Nó bao gồm một cái bánh mì mềm mịn được làm từ bột mì tốt nhất, được nướng giòn vàng. 
                                Bên trong bánh mì là một miếng thịt bò tươi ngon,
                                được chế biến tỉ mỉ để giữ được độ mềm và mùi thơm tự nhiên. Thịt bò được nướng vừa đủ để giữ được hương vị và độ giòn.
                            </p>

                        </div>
                    </div>
                    <div class="price">
                        <H3
                            style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: yellow;">
                            Price: $150</H3>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn">
                                <button type="button" class="btn btn-outline-warning btn-sm"
                                    style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Mua</button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="btn">
                                <button type="button" class="btn btn-outline-warning btn-sm"
                                    style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Thêm
                                    vào giỏ</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<hr class="mt-4">